/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #fc872d; /* Set the background color to #fc872d */
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #fff; /* Text color in white */
}

.question-container {
    background-color: #fff; /* Container background color */
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h3 {
    color: #333; /* Header text color */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 5px;
}

button {
    background-color: #fc872d; /* Button background color */
    color: #fff; /* Button text color in white */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e46108;
}
.result-container {
    background-color: #fff; /* Result container background color */
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    
}